<form method="post" action="api/product">
   

    <div id="info">product Name :
        <input type="text" name="productname" placeholder="Enter productname">
    </div><br>

    <div id="info">Description :
        <input type="text" name="description" placeholder="Enter description">
    </div><br>
    
    <div id="info">price :
        <input type="number" name="price" placeholder="Enter price">
    </div><br>
    <input id="info" type="submit" value="Submit"><br>
    
</form>