<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- main part -->
   <div class="container" style="max-width: 1024px; margin: auto;">

    <a href="/add-course">ADD New Course</a>

    <form action="" method="post">
        <table style="text-align: center; width: 70%;" border=2>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course name</th>
                    <th>description</th>
                    <!-- <th>prerequisite</th> -->
                    <th>Duration</th>
                    <th>Fees</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <%-include('./include/show')%>
                
            </tbody>
            
        </table>
        
    </form>

</div>

    
</body>
</html>