<form method="post" action="api/course">
   

    <div id="info">Course Name :
        <input type="text" name="coursename" placeholder="Enter course name">
    </div><br>

    <div id="info">Description :
        <input type="text" name="description" placeholder="Enter description">
    </div><br>

    <div id="info">prerequisite : 10th<input name="prerequisite.ssc" value="true" type="checkbox">
        12th<input name="prerequisite.hsc" value="true" type="checkbox">
        Bachelor<input name="prerequisite.bachelor" value=true type="checkbox"></div><br>

    <div id="info">Duration :
        <input type="number" name="duration" placeholder="Enter duration (in mounth)">
    </div><br>
    
    <div id="info">Fees :
        <input type="number" name="fees" placeholder="Enter fees">
    </div><br>
    <input id="info" type="submit" value="Submit"><br>
    
</form>