<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>
<style>
    form {
        margin: 0% 5% 5% 5%;
        padding: 0% 5% 5% 5%;
        border: 2px solid black;
    }

    .box {
        text-align: center;
        display: flex;
    }

    #info {
        margin-left: 5%;
    }
</style>

<body>

    <h1> Skill Qode </h1>
    <!-- main -->
    <div id="header" style="text-align: center;">
        <h1>Update products </h1>
        <div class="box">
            <div id="info">Date : <span id="date"></span> </div>
        </div><br>
        <hr><br>
    </div>
    <a href="/">All product</a>
    <!-- main -->
    <form method="post" >

        <input type="hidden" name="id" value="<%=cours._id%>" placeholder="Enter product name">
        <div id="info">product Name :
            <input type="text" name="productname" value="<%=cours.productname%>" placeholder="Enter product name">
        </div><br>
    
        <div id="info">Description :
            <input type="text" name="description" value="<%=cours.description%>" placeholder="Enter description">
        </div><br>
        
        <div id="info">price :
            <input type="number" name="fees" value="<%=cours.price%>" placeholder="Enter price">
        </div><br>
        <input id="info" type="submit" value="Submit"><br>
        
    </form>
    <!-- /main -->

</body>
<script>

    function myDate() {
        const nowDate = new Date;
        const date = nowDate.getDate();
        const month = nowDate.getMonth() + 1;
        const year = nowDate.getFullYear();
        const retDate = `${date}/${month}/${year}`;
        return retDate;
    }
    document.getElementById("date").innerHTML = `${myDate()}`
    console.log(myDate())
</script>

</html>